.tabulator-header .bg-color1 {
  background: #bfdbfe !important;
}

.tabulator-col .bg-color1 {
  background: #bfdbfe !important;
}

.tabulator-header .bg-color2 {
  background: #fde68a !important;
}

.tabulator-col .bg-color2 {
  background: #fde68a !important;
}

.tabulator-header .bg-color3 {
  background: #fbcfe8 !important;
}

.tabulator-col .bg-color3 {
  background: #fbcfe8 !important;
}
