.tabulator-header .bg-color1 {
  background: #bfdbfe !important;
}

.tabulator-col .bg-color1 {
  background: #bfdbfe !important;
}

.tabulator-header .bg-color2 {
  background: #fde68a !important;
}

.tabulator-col .bg-color2 {
  background: #fde68a !important;
}

.tabulator-header .bg-color3 {
  background: #fbcfe8 !important;
}

.tabulator-col .bg-color3 {
  background: #fbcfe8 !important;
}

#error-msg {
  display: block;
  animation: show-message 0.3s ease-in;
}

#success-msg {
  position: absolute;
  bottom: 30px;
  left: 30px;
  z-index: 100;
  min-width: 400px;
  opacity: 0.9;
  animation: show-message 0.3s ease-in;
}

@keyframes show-message {
  0% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(3px);
  }
  100% {
    transform: translate(0);
  }
}
